.bar {
  height: 10px;
  padding: 10px;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}
.countryName {
  font-weight: bold;
  margin-right: 0.5em;
}

.country {
  flex: 1;
  padding: 0.5em;
}
